/* author:jimages
 * date:Jun 30.2013
 * the stylesheet file of article kinds.
 */
@charset "utf-8";
#mainBody span {
	font: 400 15px \5FAE\8F6F\96C5\9ED1;
	margin:15px auto 15px 50px;
	color:#000000;
	display:inline-block;
	}
#mainBody span a {
	color:#429fff
	}
#mainBody hr {
	border:3px solid #e8e5e5
	}
table {
	padding-top:40px;
	border-spacing:60px 20px;
	}
td {
	border:2px solid #ffffff
	}
td:hover {
	border:2px solid #afa3a3
	}