/*	author:jimages
 *	date:Jun.28 2013
 *	global sheetstyle file 
 */
@charset "utf8";
@media all {
	#mainBody {
		background-color:transparent!important;
		}
	.article {
		border-radius:10px;
		margin:30px 0;
		background-color:#fff;
		padding:30px 0 30px 0;
		}
	.article h3{
		padding-left:50px;
		font:500 25px \5B8B\4F53;
		margin-bottom:20px;
		color:#000;
		display:inline-block;
		border-left:15px solid #ED9418;
		}
	.article p {
		line-height:180%;
		margin:30px auto;
		text-indent:2em;
		width:900px;
		}
	.article span {
		float:right;
		margin-right:30px;
		font:300 15px \6977\4F53;
		}
	#mainBody .article {
		font:400 14px '微软雅黑' Microsoft YaHei '幼圆' Arial serif;
		}
}