/*	author:jimages
 *	date:Jun.28 2013
 *	global sheetstyle file 
 */
@charset "utf8";
#getEmail {
	padding:20px 0px;
	width:870px;
	margin:auto;
	}
#getEmail p {
	font: 400 18px \6977\4F53;
	}
#getEmail ul li{
	vertical-align:middle;
	}
#getEmail span {
	font: 400 20px \65B0\5B8B\4F53;
	}
#getEmail form {
		display:inline-block;
		}
#emailInput{
	border:2px solid #bdb8b8;
	width:500px;
	height:42px;
	font:400 30px Arial; 
	padding:0px 8px;
	display:inline-block;
	text-align:middle;
	}
#emailSubmit {
	width:175px;
	height:47px;
	background-image:url(http://resource.yaoranqu.com/images/submit.png);
	padding:6px;
	border:0px none ;
	font:400 21px \u65B0\5B8B\4F53;
	}
#emailSubmit:active,#emailSubmit-active {
	padding:6px;
	background-image:url(http://resource.yaoranqu.com/images/submit_down.png);
	border:0px none ;
	width:175px;
	height:47px
	}
.article {
	margin:auto;
	padding:30px 0 30px 0;
	}
h3 {
	margin-left:50px;
	font:500 25px \5B8B\4F53;
	margin-bottom:20px;
	}
p	 {
	line-height:150%;
	margin:30px auto;
	text-indent:2em;
	width:900px;
	}
#mainBody article {
	font:400 15px \65B0\5B8B\4F53;
	}
	