/* author:jimages
 * Since:Jun 30 2013
 * common stylesheet file of blog instead of admin.
 */
@charset "UTF-8";
/*header sheetstyle */
@media  all {
	#pageStart  {
		position:relative;
		}
	#pageStart nav{
		clear:both;
		display:block;
		text-align:center;
		}
	#pageStart a {
		font:500 20px \5FAE\8F6F\96C5\9ED1;
		color:#c0c0c0;
		}
	#pageStart ul{
		display:inline;
		}
	#pageStart #jimages {
		display:inline;
		margin:1em 1em;
		position:absolute;
		top:-84px;
		border-radius:100%;
		border:5px solid #fff;
		box-shadow: 0px 0px 5px #888888;
	}
	#module {
		overflow:auto;
		padding:40px 0 40px 0;
		width:100%;
		background-color:#fff;
		border-radius:10px;
	}
	section#dayDaySay,section#weather {
		float:left;
		display:inline-block;
		width:50%;
	}
	#dayDaySay p,#weather span{
		margin:0 20px;
		}
	#dayDaySay #time {
		position: absolute;
		top: 5px;
		left: 127px;
		font-size:12px;
		color:#D9D6CF;
	}
	#module h3{
		display:none;
		}
	/*header sheetstyle end */
	/*footer sheetstyle start */
	#pageEnd{
		border-bottom-right-radius:10px;
		border-bottom-left-radius:10px;
		text-align:center;
		margin-bottom:10px;
		background-color:#fff;
		height:126px;
		background-repeat:repeat-x;
		}
	#pageEnd ul li {
		vertical-align:middle
	}
	#pageEnd a,#pageEnd  span {
		font: 300 13px \5B8B\4F53;
		color:#6b6b6b;
		line-height:5px;
		text-decoration:none;
		}
	#pageEnd ul {
		padding: 70px 0px 20px 0px!important;
		}
	#icp {
		padding-left:185px;
		}
	/*footer sheetstyle end */
	/*global stylesheet */
	body {
		background-color:#BFB691;
		font-family:"Segoe UI Symbol","Segoe UI",\5FAE\8F6F\96C5\9ED1,\5E7C\5706 Arial sans serif;
		margin-top:70px;
		}
	h1 {
		font: 400 25px \5FAE\8F6F\96C5\9ED1;
		text-align:center;
		padding-top:30px;
		}
	}
	#mainBody {
		margin:20px auto 0px auto;
		background-color:white;
	}
	/* footer links start */
	footer #link {
		padding-top:20px;
		border-top-right-radius:10px;
		border-top-left-radius:10px;
		margin-top:5px;
		overflow:auto;
		display:block;
		background-color:#fff;
	}
	footer #link h4 {
		font:500 23px \5FAE\8F6F\96C5\9ED1,'Microsoft YaHei UI',\u5E7C\u5706;
		background-color:#f2f2f2;
		padding-left:30px;
		border-left:10px solid #3588b7;
	}
	.linkButton {
		float:left;
		border:0px solid black;
		cursor:pointer;
		display:inline-block;
		margin-top:30px;
		}
	footer #linkContent {
		float:left;
		height:100px;
		width:880px;
		display:inline-block;
		overflow:hidden;
		}
	footer #linkContent .linkItem{
		float:left;
		margin:0;
		padding:0;
		display:inline-block;
		width:146px;
		position:relative;
		margin:auto 0.5px;
	}
	footer #linkContent .linkItem a{
		color:#000;
	}
	footer #linkContent .linkItem ul li:first-child{
		font:500 15px \5FAE\8F6F\96C5\9ED1,'Microsoft YaHei UI',\u5E7C\u5706,sans-serif;
		}
	footer #linkContent .linkItem ul li:last-child{
		font:100 13px 'Segoe UI',\9ED1\4F53,\5FAE\8F6F\96C5\9ED1,'Microsoft YaHei UI',sans-serif;
		}
	footer #linkContainer {
		width:10000px;
		position:relative;
		height:100px;
	}
	/* define top middle bottom item */
	footer #linkContainer .top {
		top:0px;
	}
	footer #linkContainer .middle {
		top:30%;
	}
	footer #linkContainer .bottom {
		top:47%;
	}
	/* For Advertisement */
	#ad {
		width:100%;
		background-color:#fff;
		}
}