/* author:jimages
 * date:Jun 30 2013
 * common stylesheet file of blog instead of admin.
 */
@charset "UTF-8"
/*header sheetstyle */
#pageStart {
	margin-top:30px;
	}
#pageStart nav,#nav{
	margin-top:0px;
	height:50px;
	background-color:#676565;
	display:block;
	}

#pageStart  li {
	height:inherit;
	width:96px;
	}
#pageStart a {
	font:600 20px \5FAE\8F6F\96C5\9ED1;
	color:white;
	}
#pageStart ul{
	padding:10px 0px 0px 50px;
	}
/*header sheetstyle end */
/*footer sheetstyle start */
#pageEnd{
	text-align:center;
	}
#pageEnd ul li {
	vertical-align:middle
}
#pageEnd a {
	font: 300 13px \5B8B\4F53;
	color:#6b6b6b;
	line-height:5px;
	text-decoration:none;
	}
#icp {
	padding-left:333px;
	}
/*footer sheetstyle end */
/*global stylesheet */
body {
	background-color:#e6e4e4;
	}
#mainBody {
	margin:20px auto 0px auto;
	background-color:white;
}