/*	author:jimages
 *	date:Jun.28 2013
 *	global sheetstyle file 
 */
@charset "utf8";
*{
	background-repeat:no-repeat;
	background-color:transparent;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start:0px;
	-webkit-padding-end:0px;
	-webkit-padding-before:0px;
	-webkit-padding-after:0px;
	-moz-margin-before: 0px;
	-moz-margin-after: 0px;
	-moz-margin-start: 0px;
	-moz-margin-end: 0px;
	-moz-padding-start:0px;
	-moz-padding-end:0px;
	-moz-padding-before:0px;
	-moz-padding-after:0px;
	margin:auto;
	outline:invert none medium;
}
body {
	width:960px ;
	margin:auto ;
	}
	a{
	text-decoration:none
	}
div {
	display:block
	}
img {
	border:0px;
	display:block;
	}
ul {
	list-style:none;
	display:inline-block;
	padding:0px;

	}
li {
	display:inline-block
	}
h1,h2,h3,h4,h5,h6,p {
	display:block
	}
/*header sheetstyle */
#pageStart {
	margin-top:30px;
	}
#pageStart nav,#nav{
	margin-top:0px;
	height:50px;
	background-color:#676565;
	display:block;
	}

#pageStart  li {
	height:inherit;
	width:96px;
	}
#pageStart a {
	font:600 20px \5FAE\8F6F\96C5\9ED1;
	color:white;
	}
#pageStart ul{
	padding:10px 0px 0px 50px;
	}
/*header sheetstyle end */
/*footer sheetstyle start */
#pageEnd{
	text-align:center;
	}
#pageEnd ul li {
	vertical-align:middle
}
#pageEnd a {
	font: 300 13px \5B8B\4F53;
	color:#6b6b6b;
	line-height:5px;
	text-decoration:none;
	}
#icp {
	padding-left:333px;
	}
/*footer sheetstyle end */
